@import"../homeScreen/base";

.app_container{
    display: flex;
    height: 90vh;

    .app_sidebar{
        position: fixed;
        top: 8vh;
        left: 0;
        
    }

    .app_main{
        position: absolute;
        right: 0;
        margin-top: 8.4vh;
        width: 85vw;
        padding: 0;
    }
}

@media (max-width:$breakpoint-medium) {
    .app_container{
        .app_main{
            width: calc(100% - 80px);
        }
    }
}

@media (max-width:$breakpoint-small) {
    .app_container{
        .app_main{
            width: 100vw;
        }
        .app_sidebar{
        top: 0;
        z-index: 99999;
        }
    }
}