@import "../../screen/homeScreen/base";

.catagory_main{
    display: flex;
    width: 100%;
    overflow-x: scroll;
    background-color: $black-secondary;
    border-top: 1px solid $border-color;
    border-bottom: 1px solid $border-color;
    margin-left: 0;
    margin-bottom: 2rem;
    padding-top: 1rem;
    padding-left: 1rem;
    padding-bottom:0;
    position: fixed;
    top: 8.2vh;
    z-index: 9999;

    &::-webkit-scrollbar{
        width: 0;
    }
    scrollbar-width: none;

    span{
        background-color: rgba(255, 255, 255, 0.1);
        color: white;
        padding: 0.1rem;
        padding-left: 1rem;
        padding-right: 1rem;
        margin-right: 1rem;
        border-radius: 30px;
        white-space: nowrap;
        border: 1px solid $border-color;
        cursor: pointer;
        &:hover{
            background-color: $border-color;
            color: white;
        }
    }

    .activeClass{
        background-color: white;
        color: black;
        &:hover{
            background-color: white;
            color: black;
        }
    }
}